/configs/
/logs/
/scripts/
/custom-commands/
/scripting/
/build/

/src/addons/**

!src/addons/_Example/
!src/addons/_Example/**

.vagrant/
.vscode
.DS_Store

bin/
node_modules/

package-lock.json

*.zip
*.sqlite
/.idea
