/configs/
/lang/
/logs/
/scripts/
/custom-commands/
/scripting/
/build/

/src/addons/**

!src/addons/_Example/
!src/addons/_Example/**
!src/addons/Presets/
!src/addons/Presets/**
!src/addons/MCStatus/
!src/addons/MCStatus/**
!src/addons/StatsChannel/
!src/addons/StatsChannel/**

.vagrant/
.vscode
.DS_Store

bin/
node_modules/

package-lock.json

.env

*.zip
*.sqlite
/.idea
